       body {
            background-color: #fffafc;
            font-family: Arial, sans-serif;
            margin: 40px;
            color: #333;
        }

        h1, h2 {
            text-align: center;
            color: #b22222;
        }

        nav {
            text-align: center;
            margin-bottom: 25px;
        }

        nav a {
            text-decoration: none;
            color: #b22222;
            font-weight: bold;
            margin: 0 15px;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .styled-text {
            font-family: "Monotype Corsiva", cursive;
            color: #7a3b8f;
            font-weight: bold;
            text-decoration: underline;
        }

        ul {
            list-style-type: circle;
            padding-left: 50px;
        }


        iframe {
            display: block;
            margin: 0 auto;
            border: none;
        }

        hr {
            margin: 30px 0;
            border: 1px solid #d8a7b1;
        }

        p {
            text-align: justify;
            line-height: 1.6;
        }
